<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yutong.mapper.YtGameMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="yutong.entity.YtGame">
        <id column="game_id" property="gameId" />
        <result column="game_name" property="gameName" />
        <result column="game_url" property="gameUrl" />
        <result column="but_count" property="butCount" />
        <result column="status" property="status" />
        <result column="maker" property="maker" />
        <result column="create_time" property="createTime" />
        <result column="money" property="money" />
    </resultMap>

</mapper>
